.form {
  width: 100%;
  height: 8%;
  box-sizing: border-box;

  padding: 5px;

  input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 2px solid #1C2431;
    color: white;
    outline: none;
    background-color: #1C2431;
    border-radius: 8px;
  }
}
